@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);
    color: #333;
}

body::-webkit-scrollbar {
    display: none;
}

/* TOPBAR */
.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px; */
    background-color: #fff;
    padding: 8px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.top_bar i.menu {
    font-size: 1.8em;
    cursor: pointer;
    margin-left: 260px;
    transition: all 0.4s ease;
}

/*.top_bar i.open {*/
/*    margin-left: 30px;*/
/*}*/

.top_bar .profile,
.top_bar .profile .icon_container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 25px;
}

.top_bar .profile .icon_container i.notif_icon {
    margin: 10px 0;
    cursor: pointer;
    font-size: 1.3em;
}

.top_bar .profile {
    position: relative;
}

.top_bar .profile .profile_setting {
    position: absolute;
    top: 76px;
    right: 3px;
    height: 0;
    background: #fff;
    scale: 0;
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
    box-shadow: 0 0 2px rgba(23, 117, 241, 0.6);
}

.top_bar .profile .profile_setting.show {
    height: 300%;
    scale: 1;
    opacity: 1;
    pointer-events: auto;
}

.top_bar .profile .profile_setting .setting_list li.notif {
    display: none;
}

.top_bar .profile .profile_setting .setting_list li {
    margin: 15px 20px;
    list-style: none;
}

.top_bar .profile .profile_setting .setting_list li a {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}

.top_bar .img_thumb {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
    display: flex;
}

.img_thumb img {
    width: 100%;
    object-fit: cover;
}

.top_bar .input_group {
    display: flex;
    align-items: center;
    position: relative;
}

.top_bar .input_group input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
    background: none;
    border: none;
    outline: none;
    background: rgba(234, 234, 234, 0.8);
    font-size: 0.9em;
}

.top_bar .input_group input:focus {
    box-shadow: 0 0 5px #1775f1;
}

.top_bar .input_group i.search {
    font-size: 1.3em;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 50%;
    transform: translateY(50%);
}
/* TOPBAR */

/* SIDEBAR */
.sidebar {
    position: fixed;
    height: 100%;
    background-color: #ffffff;
    padding: 0 15px 0 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 10;
    left: 0;
    transition: all 0.4s ease-out;
    overflow-y: auto;
    box-shadow: 0px 0 2px rgba(23, 117, 241, 0.6);
}

/*.sidebar.open {*/
/*    left: -100%;*/
/*}*/

.sidebar h1 {
    margin: 20px 0;
    text-align: center;
}

.sidebar .menu_list {
    /* background-color: #333; */
    width: 100%;
}

.sidebar .menu_list li {
    list-style: none;
    margin: 10px 0 20px;
    width: 100%;
}

.sidebar .menu_list li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #333;
    padding: 10px;
    transition: all 0.5s ease;
}

.sidebar .menu_list li a.active {
    background: #1775f1;
    color: #eee;
}

.sidebar .menu_list li a:hover {
    background: rgb(234, 234, 234);
}

.sidebar .menu_list li a span {
    margin: 0 15px;
}

.sidebar .sub span {
    font-size: 0.8em;
}
/* SIDEBAR */

/* MAIN */
.main {
    width: 100%;
}

.main .main_container {
    padding: 90px 30px 30px 290px;
    width: 100%;
}

.main .header {
    margin-bottom: 25px;
}

.main .header h1 {
    font-size: 2em;
    font-weight: 700;
    color: #333;
}

.main .header ul {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.main .header ul li {
    list-style: none;
}

.main .header ul li p {
    font-size: 1em;
    font-weight: 300;
}

.main .wrapper {
    display: grid;
    /* background-color: blue; */
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.main .wrapper .card {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    height: 200px;
}

.main .wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* MAIN */

/* BREAK POINT */
/* LAPTOP */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top_bar i.menu {
        margin-left: 7.5px;
    }

    .top_bar i.menu.open {
        margin-left: 7.5px;
    }

    .sidebar {
        left: -100%;
    }

    .sidebar.open {
        left: 0;
    }

    .top_bar .profile .icon_container {
        display: none;
    }

    .top_bar .img_thumb {
        width: 42px;
        height: 42px;
        margin-right: 7.5px;
    }

    .top_bar .input_group input {
        padding: 7px;
    }

    .top_bar .profile .icon_container {
        display: none;
    }

    .top_bar .profile .profile_setting {
        top: 55px;
        right: 0;
        width: 180px;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .top_bar .profile .profile_setting.show {
        height: 520%;
    }

    .top_bar .profile .profile_setting .setting_list li {
        margin: 13px;
    }

    .top_bar .profile .profile_setting .setting_list li.notif {
        display: block;
    }

    .sidebar h1 {
        margin: 15px 0 25px;
    }

    .sidebar .menu_list li {
        margin: 15px 0;
    }
}

/* MOBILE */
@media only screen and (max-width: 767px) {
    .top_bar i.menu {
        margin-left: 7.5px;
        font-size: 1.7em;
    }

    .top_bar i.menu.open {
        margin-left: 7.5px;
    }

    .sidebar {
        left: -100%;
    }

    .sidebar.open {
        left: 0;
    }

    .top_bar .profile .icon_container {
        display: none;
    }

    .top_bar .profile .profile_setting {
        top: 55px;
        right: 0;
        width: 180px;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .top_bar .profile .profile_setting.show {
        height: 480%;
    }

    .top_bar .profile .profile_setting .setting_list li {
        margin: 13px;
    }

    .top_bar .profile .profile_setting .setting_list li.notif {
        display: block;
    }

    .top_bar .profile .profile_setting .setting_list li a {
        font-size: 0.9em;
    }

    .top_bar .img_thumb {
        width: 42px;
        height: 42px;
        margin-right: 7.5px;
    }

    .top_bar .input_group input {
        padding: 7px;
        font-size: 0.8em;
    }

    .top_bar .input_group i {
        font-size: 1em;
    }

    .sidebar h1 {
        margin: 15px 0 25px;
        font-size: 1.3em;
    }

    .sidebar .menu_list li {
        margin: 15px 0;
    }

    .sidebar .menu_list li a {
        font-size: 0.96em;
    }

    .main .main_container {
        padding: 70px 20px 20px 20px;
    }

    .main .header .wrapper {
        background-color: blue;
    }
}
